{
  "extends": ["react-app", "prettier"],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 1,
    "linebreak-style": ["error", "unix"],
    "quotes": ["warn", "double"],
    "semi": ["error", "always"],
    "no-console": 2,
    "comma-dangle": [2, "always-multiline"],
    "no-unused-vars": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unescaped-entities": "warn"
  },
  "plugins": ["react", "react-hooks", "prettier"]
}
